{% extends 'SocialApp/base.html' %}

{% load static %}
{%load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<div class="container-fluid">
    {% block messages %}
    {% if messages %}
    <div>
        <ul>
        </ul>
    </div>
    {% endif %}
    {% endblock %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5 box-shadow-3-3-5-5 border">
                    <div class="card-body">
                        <h4 class="card-title text-center">Sign In</h4>
                        <p>{{ form.non_field_errors }}</p>
                        <form class="form-signin" id="login_form" method="POST" action="{% url 'account_login' %}">
                            {% csrf_token %}
                            <div class="form-label-group">
                              {{ form|crispy}}
                            </div>
                            {% if redirect_field_value %}
                            <input class="custom-alert" type="hidden" name="{{ redirect_field_name }}"
                                   value="{{ redirect_field_value }}"/>
                            {% endif %}
                            <button class=""
                                    type="submit">{% trans "Sign In" %}
                            </button>
                            <hr>

                            <div class="text-center pt-4">
                                <p class="m-0 p-0">Don't have an account? <a
                                        href="{% url 'account_signup' %}{% if redirect_field_value %}?{{ redirect_field_name }}={{ redirect_field_value }}{% endif %}"
                                        rel="nofollow">Sign Up</a></p>

                            </div>
                            </ul>
                            <!-- <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button>-->
                            <!-- <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button>-->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script>
    $(document).ready(function () {
        $(".login").addClass("active");
    });
</script>
{% endblock %}



