{% extends 'SocialApp/base.html' %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="container py-5">
{% if user.is_authenticated %}

{% include "account/snippets/already_logged_in.html" %}
{% block content_extra %} {% endblock %}

{% else %}
<div class="row">
<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
<div class="card card-signin my-3 border">
<div class="card-body">
<h4 class="card-title text-center">{% trans "Password Reset" %}</h4>
<p class="forgot_password_info" >{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
<p>{{ form.non_field_errors }}</p>
<form method="POST" class="container-fluid text-center" id="forgot_password_form" action="{% url 'account_reset_password' %}">
{% csrf_token %}
<div class="form-label-group">
{{ form.email }}
<small id="emailHelp" class="form-text text-muted text-center">{{form.email.errors}}</small>
</div>
    <input class="" type="submit" value="{% trans 'Reset My Password' %}" />

</form>
</div>
</div>
</div>
</div>
{% comment %}
<h4 id="head_banner">{% trans "Password Reset" %}</h4>
<p class="forgot_password_info" >{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

<form method="POST" class="container-fluid text-center" id="forgot_password_form1" action="{% url 'account_reset_password' %}">
{% csrf_token %}
{{ form.as_p }}

<input class="" type="submit" value="{% trans 'Reset My Password' %}" />
</form>

<p class="forgot_password_info">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endcomment %}
{% endif %}
</div>
{% endblock %}